{{ content }}

<div>
    <i>{{ sentFromMessage }}</i>
</div>

<div>
    You can unsubscribe from this mailing list <a href="{{ url }}">on the website</a>. You must log in to
    unsubscribe via the website.
    If you don't have an account, you can <a href="https://maidstonecanoeclub.net/contact-us?to=mailing-list">contact
        us</a> to be removed from the list.
</div>
