<div>
    {{ message }}
</div>

<div>
    <p>You are receiving this email because you are booked onto the following event:
        <a href="{{ eventUrl }}">{{ eventTitle }}</a>. <strong>Please do not reply to this email</strong>.</p>
</div>
