<p>A new event has been created and requires review. It will remain hidden on the calendar until it has been
    approved.</p>

<div><strong>{{ eventTitle }}</strong></div>
<div><strong>{{ eventDate }}</strong></div>

<p>
    <a href="{{ eventUrl }}">Click here to approve or reject this event.</a>
</p>
<p>Please note the event may already have been approved by another user.</p>

<div>
    <i>
        You are receiving this email because you have been listed as a user who can approve and reject events.
    </i>
</div>
