<p>A new event has been created but does not require a review.</p>

<div><strong>{{ eventTitle }}</strong></div>
<div><strong>{{ eventDate }}</strong></div>

<p>
    <a href="{{ eventUrl }}">Click here to view this event.</a>
</p>

<div>
    <i>
        You are receiving this email because you have been listed as a user who can approve and reject events.
    </i>
</div>
