<div>
    <p>Your event, <strong>{{ eventTitle }}</strong> has been not approved, you'll need to make some changes before it can be made visible.</p>
</div>

{% if notes %}
    <div>
        <p>Notes from reviewer:</p>
    </div>
    <div>
        <i>{{ notes }}</i>
    </div>
{% endif %}

<div>
    <a href="{{ eventUrl }}">Click here to view the event</a>
</div>
