<div>
    {{ message }}
</div>

<div>
    <i>You are receiving this email because you are booked onto the following event:
        <a href="{{ eventUrl }}">{{ eventTitle }}</a>. <strong>You are not able to reply to this message</strong>.</i>
</div>
