<p>A new news post has been published! Click the link below to read.</p>

<div>
    <p>
        <strong><a href="{{ newsPostUrl }}">{{ newsTitle }}</a></strong>
    </p>
</div>

<div>
    <small>You are receiving this email because you subscribed to receive email notifications whenever a new news post
        is published. To unsubscribe from these emails <a href="{{ unsubscribeLink }}">click here</a>.</small>
</div>
